.hero {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
}
.hero-image {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    position: absolute;
}
.hero-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    color: white;
    position: absolute;
}
@media screen and (width<768px) {
    .hero {
        min-height: 300px;
    }
}
