.Navigation-bar {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.Navigation-bar a {
    color: white;
    text-decoration: none;
}
.Navigation-bar img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.nav-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.nav-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.right-nav-buttons {
    display: flex;
    gap: 10px;
}
#link-like {
    border: none;
    background-color: unset;
    color: white;
    font: inherit;
}
@media screen and (width < 768px) {
    .Navigation-bar {
        width: 100%;
        border-radius: unset;
        margin-top: 0;
    }
    .nav-links {
        justify-content: center;
        gap: 10px;
    }
}
.burger-menu {
    display: none;
}
.burger-menu span {
    width: 24px;
    height: 2px;
    background-color: white;
}
@media screen and (width<768px) {
    .nav-links {
        display: none;
    }
    .Navigation-bar {
        justify-content: space-between;
    }
    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 8px;
        border-radius: 8px;
        transition: 0.3s ease;
        background-color: none;
    }
    .burger-menu:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .burger-menu:active {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
