.upload-file-container {
    width: 100%;
    min-height: 100px;
    padding: 20px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 15px;
    border-radius: 8px;
}
.upload-file-container img {
    width: 50px;
    height: 50px;
}
.upload-file-container div {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}
.user-avatar-upload {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.user-avatar-upload img {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.user-avatar-upload div {
    background-color: rgb(88, 88, 88);
    color: white;
    font-size: 0.75rem;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}
