.side-menu-container {
    background: #000000;
    background: linear-gradient(
        110deg,
        rgba(0, 0, 0, 1) 0%,
        rgb(50, 50, 50) 50%,
        rgba(0, 0, 0, 1) 100%
    );
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    gap: 10px;
    font-size: 1.25rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.side-menu-container.open {
    transform: translateX(0);
}

.side-menu-container a {
    color: white;
    text-decoration: none;
    font-size: inherit;
}

.side-menu-container button {
    background-color: unset;
    border: none;
    color: white;
    text-decoration: none;
    font-size: inherit;
    font: inherit;
    cursor: pointer;
}
