*,
*::before,
*::after {
    box-sizing: border-box;
}
.layout-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    gap: 20px;
    justify-content: space-between;
}
body {
    background-color: black;
}
.project-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
}
