.footer-container {
    background-color: rgb(0, 0, 0);

    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: static;
    bottom: 0;
}
.footer-input-div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#footer-email-btn {
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-weight: bold;
    background-color: rgb(0, 183, 255);
    color: white;
}
#footer-email-btn:hover {
    background-color: rgb(1, 155, 216);
    transition: all 0.25s ease;
}
.social-btn-array {
    margin-top: 8px;
    display: inline-flex;
    width: 50%;
    justify-content: center;
    gap: 8px;
}
.social-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.social-icons {
    width: 24px;
    height: auto;
}
