.cars-container {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px 10px;
}
@media screen and (width< 768px) {
    .cars-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
